* {
    margin: 0;
    padding: 0;
}

html, body {
    color: #ddd;
    height: 100%;
    background: #111;
    font-family: Helvetica,arial,freesans,clean,sans-serif;
}

#topColorStrip {
    background: #f60;
    width: 100%;
    height: .3em;
    margin-bottom: 1em;
}

.row {
    -webkit-transition: all 0.2s ease-in 0s;
    -moz-transition: all 0.2s ease-in 0s;
    -o-transition: all 0.2s ease-in 0s;
    transition: all 0.2s ease-in 0s;
    text-align: center;
}

#countDownBox {
    background: #222;
    padding: 3px;
    border: 3px solid #333;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 2em;
    margin-top: 1.5em;
    line-height: 1.7em;
    text-align: center;
    color: #555;
    width: 95%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -6.5em;
}

.contentHeading {
    font-weight: bold;
    padding-bottom: .5em;
    border-bottom: 1px dotted #830;
}

.contentContainer {
    font-size: .9em;
    padding: .5em 0;
}

.footer, .push {
    height: 6.5em;
    clear: both;
}

.footer img {
    padding-top: 10px;
    cursor: pointer;
}

a:link, a:visited, a:active {
    text-decoration: none;
    font-weight: bold;
    color: #eee;
}

.textLink:hover {
    color: #f60;
    cursor: pointer;
}

