<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>codathon ~ help & faq</title>
		<link rel="stylesheet" href="../css/1140.css" type="text/css" />
		<link rel="stylesheet" href="../css/site.css" type="text/css" />
        <script src="{{jQueryScriptUrl}}" type="application/javascript"></script>
		<script src="../js/site.js" type="application/javascript"></script>
	</head>
	<body>
        {{wrapperElementStart}}
        <div style="text-align: left;">
            <div class="contentHeading">Help &amp; FAQ</div>
            <div class="contentContainer">
                <b>codathon</b> involves solving multiple problems - typically (<i>but not necessarily</i>) with the aid of programming.
                Each problem is accompanied by <b>2</b> test-cases: a <b>small</b> test-case (worth <b>5</b> points), and a <b>large</b> test-case (worth <b>10</b> points).<br><br>

                The <b>team</b> (<span style="border-bottom: 1px dotted #777;">consisting of up to <b>3</b> members</span>)
                that accumulates the <b>most points</b> in the <b>shortest duration</b> wins the challenge.<br><br>

                The essence of the competition is <b>speed</b> &amp; <b>problem solving</b> ability.<br>
                Since we only accept the <b>final solutions</b> to the problems, we cannot &amp; <b>do not</b> evaluate your programming language choice, style, performance parameters etc.<br><br>

                The problems will be released at a <b>controlled rate</b> over time (<i>i.e. not all at once</i>).<br>
                This allows us to test your abilities <b>multiple times</b> over <b>multiple types</b> of problems.<br><br>

                You can make <b>unlimited submissions</b> for any test-case until you've solve it.<br>
                Once a test-case has been <b>solved</b>, you gain the <b>points</b> associated with that test-case.
                We also track the <b>time interval</b> (in seconds) between the time of your first successful submission &amp; the time at which the problem was released.<br><br>

                The <b>number of submissions</b> is only considered in case of a tie - where multiple participants achieve the same high-score in the same time duration.<br><br>

                Please remember to keep checking the <b>announcements</b> page for clarifications / updates for problems / rules / policies etc.<br><br>

                If you have any other questions, please send us an <a class="textLink" href="mailto:{{helpEmailId}}">email</a>.
            </div>
        </div>
        {{wrapperElementEnd}}
        {{footerElement}}
	</body>
</html>
