<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>codathon ~ questions</title>		
		<link rel="stylesheet" href="../css/1140.css" type="text/css" />
		<link rel="stylesheet" href="../css/site.css" type="text/css" />
		<link rel="stylesheet" href="../css/watermarkify.css" type="text/css" />
		<!--<link href="../css/styles.css" rel="stylesheet" type="text/css" /> -->
        <script src="{{jQueryScriptUrl}}" type="application/javascript"></script>
		<script src="../js/site.js" type="application/javascript"></script>        
        <script src="../js/json2.js" type="application/javascript"></script>        
		<script type="text/javascript" src="../js/watermarkify.0.6.js"></script>     
        <script type="text/javascript">
		function getUrlVars()
{
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}
		function renderCountDown(remainingTime) {
                timeComponent = Math.floor(remainingTime / (24 * 60 * 60));
                remainingTime -= timeComponent * (24 * 60 * 60)
                $("#days").html(zeroPad(timeComponent))
                timeComponent = Math.floor(remainingTime / (60 * 60))
                remainingTime -= timeComponent * (60 * 60)
                $("#hours").html(zeroPad(timeComponent))
                timeComponent = Math.floor(remainingTime / (60));
                remainingTime -= timeComponent * (60)
                $("#minutes").html(zeroPad(timeComponent))
                timeComponent = remainingTime
                $("#seconds").html(zeroPad(timeComponent))
            }

            function startCountDown(remainingTime) {
                remainingTime = Math.max(0, remainingTime)
                renderCountDown(remainingTime)
                setInterval(function() { if (remainingTime == 0) window.location.reload(); else renderCountDown(--remainingTime) }, 1000)
            }
            function checkSolution()
            { 
				url = getUrlVars()
				//alert(url['teamCode'])
				$('#teamCode').val(url['teamCode'])
				
                $.ajax({
      url: 'http://127.0.0.1:8080/checkResult',
/* working       data: { name: "John", location: "Boston", sol:"hello" },*/
        data:$("#questionForm").serialize(),
        success: function(data) {
        //var result = data;
        //alert(data);
        var result = JSON.parse(data);
        //alert(result);
        //alert(result['_isSuccess']);
		var isSuccess = result['_isSuccess'];
		$('#mainContent').show()
		
		var timestamp = Math.round((new Date()).getTime() / 1000)
		$('#submit_timestamp').val(timestamp)

		
		if(isValid(isSuccess) && isSuccess == 'true')
		{
			var isNextQuestionAvailable = result['_questionAvailable']
			if(isValid(isNextQuestionAvailable) && isNextQuestionAvailable == 'true')
			{
				//alert("_current_question_id is " + $('#_current_question_id').val())
				if($('#_current_question_id').val() != -1)
				{
					//alert("_current_question_id is " + _current_question_id)
					$('#correct').show()
					$('#correct').fadeOut(3000)
				}
					
				var _current_question_id = result['_current_question_id'];
				$('#_current_question_id').val(_current_question_id)
				
			
				
				var question = result['_question']
				$('#questionTA').html(question)		
				$('#userSol').val('Your answer here...')
				
				var testcaselink= result['_testcase']
				//alert('testcaselink:' + testcaselink)
				$('#testcaselink').attr("href", testcaselink)				
				
			}
			else
			{
				$('#mainContent').hide()
				$('#allDone').show()
				
				
				
			}
			//var nextQ = result['_nextQ'];
			/*if(isValid(nextQ))
			{	
				alert(nextQ);
				$('#correct').show();
				$('#correct').fadeOut('slow');
				$('#questionTA').html(nextQ);
			}*/
		}
		else 
		{
			$('#wrong').show();
			$('#wrong').fadeOut(3000);
		}
		
		
        //$('#question').html(data); //jQuery equivalent of  document.getElementById('thediv').innerHTML = data
      },
      error: function(data)
      { alert("failure");
      }
    });
            }
			
			function isValid(input)
			{
				if(input== undefined || input == null)
					return false;
				return true;
			}
            
            function ajaxCheck()
            {
                var str= $('#questionForm').serialize();
                //alert(str);
            }
        </script>
		<script type="text/javascript">
$(document).ready(function(){
    $(".fields").watermarkify();
});
</script>
	</head>
	<body>    
        {{wrapperElementStart}}
		<div id="countDownBox">{{countDownBoxMarkUp}}</div>
		 {% if currentTimeAsEpochTime < contestEndTimeAsEpochTime %}
                    <div style="display: inline-block; padding: .05em; margin: 2em 0;">
                        <img src="../images/signIn.png" style="display: inline; vertical-align: middle; padding-right: 1em; margin-right: 1em; border-right: 0px solid #222;"/> 
                        {% if teamCode|length > 0 %}
                            <!-- <div id="countDownBox">{{countDownBoxMarkUp}}</div> -->
                        {% else %}
                            {% if currentTimeAsEpochTime < contestStartTimeAsEpochTime %}
                                <div style="float: right; text-align: left; display: block; vertical-align: middle;">
                                    <span class="textLink" style="font-weight: normal; display: block;" onclick="window.location='{{registrationLink}}'"><b>ClickHere</b> to register</span>
                            {% endif %}
                                    <span class="textLink" style="font-weight: normal; display: inline-block; vertical-align: middle;" onclick="signIn()"><b>SignIn</b> to answer questions</span>
                            {% if currentTimeAsEpochTime < contestStartTimeAsEpochTime %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
				 <div id="correct" style="display:none">
					<font size="5" color="##00FF00">	Good Answer. Next Question is ...<br><br> </font>
		   </div>
           <div id="wrong" style='display:none'>
		       <font size="5" color="#990000"> Not a correct Answer. Please try again..<br><br> </font>
		   </div>
		   <div id="allDone" style='display:none'>
		          <font size="5"> Thanks for participating. All questions are SOLVED !!! </font>
		   </div>
        <div id="mainContent" style="display:none">
          
           <form id="questionForm">
               <div id="question">
						<input type="hidden" name="requestType" value="checkUserSolution">
						<input type="hidden" id="teamCode" name="teamCode" value="checkUserSolution">
						<input type="hidden" id="_current_question_id" name="_current_question_id" value="-1">
						<input type="hidden" id="submit_timestamp" name="submit_timestamp" value="-1">
                     <textarea rows="7" cols="75" id="questionTA" name="questionArea" readonly  disabled="disabled">
Question is...
</textarea>
               </div>
			   <br><br>
			   
			   <div id="testcase">
			   <br/>
				<a id ="testcaselink" href="../database/testcase1.codathon.zip">Click to Download Test Cases</a> <br/><br/>
			   </div>
               <div id="solution">
               
			   
<textarea rows="3" cols="25" id="userSol" name="usersolution" >
Your Answer here..
</textarea>		
<br/>	   </br>
                     
               </div>

               <div id="submit">
       <input type="button" id="submit" value="Submit" onClick="checkSolution()"/>
<!--        <input type="submit" value="send" name="submit"  onClick="ajaxCheck()"/> -->
               </div>
           </form>
		</div>
        {{wrapperElementEnd}}
        {{footerElement}}
		<script type="text/javascript">
$(document).ready(function(){
	checkSolution();
    $("#userSol").click(function() {
  $('#userSol').val('');
});
});
</script>

	</body>
</html>
